<% include header.ejs %>
<div class="container">
	<div class="row">		
		<div class="col-md-8">
			<h1>Enter Your Post</h1>
			<form name="ctForm" method="POST">
			  <div class="form-group">
			    <label for="NameField">Post Title</label>
			    <input type="text" class="form-control" id="NameField" name="nm1" placeholder="Title" required>
			  </div>
			  <div class="form-group">
			    <label for="meassage">Post body</label>
			    <textarea class="form-control" id="meassage" placeholder="post content goes here" required></textarea>
			  </div>
			  <button type="submit" class="btn btn-default">Submit Entry</button>
			</form>
		</div>
	</div>
</div>
<% include footer.ejs %>
